{% extends "include_views/base.html.twig" %}
    {#<link rel="stylesheet" id="css_id" type="text/css" href="/css/bootstrap.min.css"/>#}


{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <div>

        <BR>
        <div id="detail">
            <h1>{{ title }}</h1>
            <div class="well">DESC direct: <BR>{{ long_desc }}</div>
            <div class="well">DESC  <span class="bg-danger"> raw/ </span> <kbd>HTML</kbd> rendered: <BR>{{ long_desc|raw }}</div>
            <hr>
            <h2>Entire context dump is below</h2>
            <pre>{{ dump() }}</pre>
        </div>


    </div>
    <HR>


{% endblock %}
{% block right_nav %}
    {% if nav %}
        <ul class="list-group">
            {% for single_nav in nav %}
                <li class="list-group-item">
                    <a href="#">
                        <div>{{ single_nav }}</div>
                    </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-group">nothing here..</ul>
    {% endif %}

{% endblock %}