{% extends "include_views/base.html.twig" %}
    {#<link rel="stylesheet" id="css_id" type="text/css" href="/css/bootstrap.min.css"/>#}


{% block title %}{{ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <div>

        <BR>
        <div id="detail">
            <h1>FILTER BELOW </h1>
            default : results > {{ results }} <br>
             results > {{ results|PS_url_en }} <br>

            <hr>
            <hr>
            <h2>Entire context dump is below</h2>

            <hr>
            <pre>{{ dump() }}</pre>
        </div>


    </div>
    <HR>


{% endblock %}
{% block right_nav %}
    right block

{% endblock %}